
<!DOCTYPE html>
<html>
    <head>
        <title>
            About Us
        </title>
        <meta charset="UTF-8">
        <title>Dealership Review</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
       
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="#">Best Cars</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/djangoapp">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/djangoapp/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/djangoapp/contact">Contact Us</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username">
                            <input type="password" class="form-control" placeholder="Password" name="psw">
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
      <div class="container">
            <p class="heading-txt" style="font-size: 2em; margin-bottom: 3%; text-align: center;">Contact Us</p>
            <div style="margin-top: 5%;display: flex; justify-content: space-evenly; flex-wrap: wrap;">
            <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header">Contact Information</div>
                <div class="card-body">
                    <h5 class="card-title">Customer Information</h5>
                    <p class="card-text">Name: Test </br> Mobile: 8887779996 </br> Email: Test@bestcardealership.com </p>
                </div>
            </div>
                    <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header">Contact Information</div>
                <div class="card-body">
                    <h5 class="card-title">Customer Information</h5>
                    <p class="card-text">Name: Test </br> Mobile: 8887779996 </br> Email: Test@bestcardealership.com </p>
                </div>
            </div>
                    <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header">Contact Information</div>
                <div class="card-body">
                    <h5 class="card-title">Customer Information</h5>
                    <p class="card-text">Name: Test </br> Mobile: 8887779996 </br> Email: Test@bestcardealership.com </p>
                </div>
            </div>
      
            </div>
        </div>
    </body>
</html>